.greenSidebarTxt8 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #66FF66; text-decoration: none}
.greenNewsTxt8 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #66FF66}
.greenPolicyTxt7 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; text-decoration: none; color: #66FF66}
.yellowLinkTxt8 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FFFF66; text-decoration: none}
.yellowLinkPolicyTxt7 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; font-weight: normal; color: #FFFF66; text-decoration: none}
.yellowLinkTxt8Bold {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #FFFF66; text-decoration: none}
.yellowLinkTxt10 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #FFFF66; text-decoration: none }
.greyNewsTxt8 {  font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; color: #666666}



/*
     FILE ARCHIVED ON 19:12:59 Jun 09, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:24:29 Aug 21, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.671
  captures_list: 0.337
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.029
  esindex: 0.005
  cdx.remote: 10.471
  LoadShardBlock: 504.09 (3)
  PetaboxLoader3.datanode: 85.211 (4)
  PetaboxLoader3.resolve: 473.031 (2)
  load_resource: 99.46
*/